apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{include "kminion.fullname" .}}
  labels:
    {{- include "kminion.labels" . | nindent 4}}
    {{- if .Values.customLabels}}
    {{toYaml .Values.customLabels | nindent 4}}
    {{- end}}
spec:
  {{- if not .Values.autoscaling.enabled}}
  replicas: {{.Values.replicaCount}}
  {{- end}}
  selector:
    matchLabels:
      {{- include "kminion.selectorLabels" . | nindent 6}}
  template:
    metadata:
      {{- with .Values.podAnnotations}}
      annotations:
        {{- toYaml . | nindent 8}}
      {{- end}}
      labels:
        {{- include "kminion.selectorLabels" . | nindent 8}}
        {{- if .Values.customLabels}}
        {{toYaml .Values.customLabels | nindent 8}}
        {{- end}}
    spec:
      {{- with .Values.imagePullSecrets}}
      imagePullSecrets:
        {{- toYaml . | nindent 8}}
      {{- end}}
      serviceAccountName: {{include "kminion.serviceAccountName" .}}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8}}
      volumes:
        - name: config
          configMap:
            name: {{include "kminion.fullname" .}}
        {{- range .Values.deployment.volumes.secrets}}
        - name: {{.secretName}}
          secret:
            secretName: {{.secretName}}
        {{- end}}
      containers:
        - name: {{.Chart.Name}}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12}}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{.Values.image.pullPolicy}}
          ports:
            - name: metrics
              containerPort: {{.Values.service.port}}
              protocol: TCP
          env:
            - name: CONFIG_FILEPATH
              value: /etc/kminion/config.yaml
            {{- range .Values.deployment.env.values}}
            - name: {{.name}}
              value: {{.value | quote}}
            {{- end}}
            {{- range .Values.deployment.env.secretKeyRefs}}
            - name: {{.name}}
              valueFrom:
                secretKeyRef:
                  name: {{.secretName}}
                  key: {{.secretKey}}
            {{- end}}
            {{- range .Values.deployment.env.configMapKeyRefs}}
            - name: {{.name}}
              valueFrom:
                configMapKeyRef:
                  name: {{.configMapName}}
                  key: {{.configMapKey}}
            {{- end}}
          volumeMounts:
            - name: config
              mountPath: /etc/kminion
            {{- range .Values.deployment.volumes.secrets}}
            - name: {{.secretName}}
              mountPath: {{.mountPath}}
            {{- end}}
          resources:
            {{- toYaml .Values.resources | nindent 12}}
      {{- with .Values.nodeSelector}}
      nodeSelector:
        {{- toYaml . | nindent 8}}
      {{- end}}
      {{- with .Values.affinity}}
      affinity:
        {{- toYaml . | nindent 8}}
      {{- end}}
      {{- with .Values.tolerations}}
      tolerations:
        {{- toYaml . | nindent 8}}
      {{- end}}
